{% load static %}
<div id='addToCart'>
<div class="row" style="margin: 10px">
{% for p in product_lists %}
	<div class='col-auto' style="margin: 10px">
		<div class="card shadow" style="width: 18rem;" id="cards">
			{% if p.thumbnail %}
				<img src="/media/{{ p.thumbnail }}" class="card-img-top" style="height: 200px">
			{% else %}
	  			<img src="{% static 'images/placeholder.png' %}" class="card-img-top">
	  		{% endif %}
		  		<div class="card-body">
			    	<h5 class="card-title">{{ p.title }}</h5>
			    	<p class="card-text">{{ p.description }} </p>
			    	<a><button  class="btn btn-success" @click='addToCart({{p.id}})' style="float: left;
			    	background-color: #364f6b" >Add to cart</button></a>
			    	<a href="{% url 'product_detail' p.pk %}" class="btn btn-outline-primary" 
			    	style="float: right;">View</a>
		 		</div>
		</div>
	</div>
{% endfor %}
</div>
</div>