<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Everest</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<table class="table table-responsive" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<center>
					Order Confirmation
				</center>
			</td>
		</tr>
		<tr>
			<td>
				<p>Your Order is successful and will be sent shortly</p>
			</td>
		</tr>
		<tr>
			<td>
				{% for item in order.items.all %}
				<p><strong>Product:{{item.product.title}}</strong>    Quantity:{{item.quantity}}   Price:{{item.price}}</p>
				{% endfor %}
			</td>
		</tr>
	</table>
</body>
</html>